$medium:375px;

@import "regles.scss";
@import "responsive.scss";


.b
{
    font-family: "roboto";
}
body  
{
    width:375px;
    margin: auto;
    font-family: "roboto";
}
header 
{
    font-family: "shrikhand";
}
header img 
{
    width: 200px;
    margin-left: 80px;
}
.search_bar /*bar de recherche, ville*/
{
    background-color: rgb(208, 206, 206);
    border: none;
    padding: 15px;
    text-align: center;

        input {
            border: none;
            background-color:rgb(208, 206, 206);
            margin-left: 5px;
        }

            i {
                margin-left: 90px;
            }
}
.introduction /*présentation de l'entreprie*/
{
    display: flex;
    flex-direction: column;
    background-color: rgb(242, 242, 242);
    align-items: center;
    padding: 20px;
    padding-bottom: 50px;

        h1 {
            margin-left: 20px;
            text-align: center;
        }

            p {
                font-family: "roboto_light";
                text-align: center;
            }
}

button {
        color: white;
        border: 0px solid ;
        border-radius: 30px;
        background-color: $primary;
        padding:15px;

            &:hover{
                background: rgba($primary, 0.3);
                background: linear-gradient($secondary,$primary);

            }
                
}


.choice /*fonctionnement*/
{
    display: flex;
    flex-direction: column;
    
    h1{
        margin-left: 20px;
    
    }
        ol {
            display: flex;
            flex-direction: column;
            align-items: baseline;
            border-radius: 100%;
            list-style: none;
            counter-reset: li;
        }
         
        li::before {
             counter-increment: li ;
             content:counter(li);
             color:white;
             border-radius: 100%;
             position: relative;
             left:-14px;
             border: 2px solid $primary;
             padding: 4px;
             font-size: x-small;
             background-color: $primary;
     }

        li {
            box-shadow: 5px 5px 5px rgb(213, 209, 209);
            border-radius: 20px;
            background-color: rgb(242, 242, 242);
            align-items: baseline;
            margin: 8px;
            padding: 10px;
            
        }

        i { 
            align-items: baseline;
            padding: 5px;
            margin: 6px;
        }

        span{
            padding-right: 7px;
            padding-left: 8px;
        }      
}
.restaurants
{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;

        h1{
            margin-right: 50%;
        }

            .vignette /*restaurants proposés*/
        {
            display: flex;
            flex-direction: column;
            box-shadow: 5px 5px 5px #F2F2F2;
            border-radius: 15px;
            align-items: baseline;
            margin-top: 2%; 
            margin: 2%;
        }

                .new{
                    position: relative;
                    left: 220px;
                    bottom: 150px;
                    color: rgb(0, 140, 0);
                    border: 2px solid #02ffc5;
                    background:#02ffc5;
                    padding: 4px;
                    font-family: "roboto";
                    font-size: small;
                }
                 .place {
                    display: flex;
                    justify-content: space-between;
                    font-family: "roboto_light";
                    padding-bottom: 10px;
                    padding-top: 5px;
                    }

                .heart{
                    display: flex;
                    justify-content: space-between;
                    margin-left:  170px; 
                }
                    .i{
                        font-weight: 0;
                    }


                    img {
                    width: 300px;
                    height: 150px;
                    object-fit: cover;
                    object-position: center bottom;
                    border-radius: 10% 10% 0 0;
                    padding-bottom: 10px;
                    }
                    
}

.menu /*style des menus proposés*/
{   
    display: flex;
    flex-direction: column;
    align-items: baseline;
    border-top: 2px solid;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px;
    margin-bottom: 60px;

    h1{
        font-style: italic;
    }
    
    
    h3{
        text-transform: uppercase;
        border-top: 0px;
        border-bottom: 3px solid rgb(152, 206, 152);
        width: 40px;
        font-family: "roboto_light";

    }
    
    .first
    {
        @include mensuration
    }
    .entries 
    {
        animation: 3s ease-in-out;
        @include layout
        
    }
    .price{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-family: "roboto_light";
        font-size: 15px;
    }
    .second 
    {
        @include mensuration
    }
    .dishes{
        animation: 6s ease-in-out;
        @include layout
    }
    .last 
    {
        @include mensuration
    }
    .desserts
    {
        animation: 9s ease-in-out;
        @include layout
    }
}
    button
    {
        color: white;
        border-radius: 30px;
        background-color: $secondary;
        padding:15px 30px 15px;
        margin-left: 100px;
        margin-top: 30px;
        font-family: "roboto";
    
        &:hover{
            background: rgba($primary, 0.3);
            background: linear-gradient($secondary,$primary);

        }
    }
.bottom /*image du menu*/
{

        img {
            width: 350px;
        }
}

footer /*pied de page identique partout*/
{
    background-color: black;

        .bloc_footer{
            display: flex;
            flex-direction: column;
            padding: 10px;
        }
        

                h2{
                    color: white;
                    padding-left: 20px;
                    font-family: "shrikhand";
                    margin-bottom: auto;
                    font-size: large;
                }

                    ul {
                        display: flex;
                        flex-direction: column;
                        align-items: baseline;
                        color: white;
                        padding-left: 10px;
                    }

                        .foot{
                            padding: 5px;
                        }

                        li {
                            list-style: none;
                            padding: 3px;
                        }

                            i{
                                padding-right: 10px;
                            }

                                a{
                                    text-decoration:none;
                                    color:white;
                                }
}
